@charset "utf-8";

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

body {
    font-size: 12px;
    font-style: normal;
    font-family: 'tahoma, 微软雅黑, sans-serif';
}

small {
    font-size: 12px;
}

b, em {
    font-style: normal;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 16px;
}

h3 {
    font-size: 14px;
}

h4, h5, h6 {
    font-size: 100%;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
}

a:hover, a:active {
    outline-width: 0;
    text-decoration: none;
}

input {
    outline: 0;
}

img {
    border-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}
